table td{
	text-align: center;
}

#div0{
	width:100%;
}

body{
	background-color: linen;
}
table tr{
	height:40px;
	border:0px solid gray;
}
.tbl{
	width:70%;
	margin-left:15%;
	margin-top:40px;
	border:0px solid gray;
	border-collapse: collapse;
	border-spacing: 0;
}
#last{
	color:red;
}
*{
	font-size:15px;
}
#checkout{
	float:right;
	margin-top:10px;
	margin-right:10px;
}

